<div class="col-md-12">
<div class="group">
    <%= link_to "修改", edit_moviegroup_path, class: "btn btn-primary pull-right" %>
</div>
<h2><%= @group.title %> </h2>
<p><%= render_moviegroup_description(@group) %></p>
</div>