<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" style="background-color: #f1f1f1;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Movie</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to("Login", '#') %>
                </li>
            </ul>
        </div>
    </div>
</nav>